doctype 5
html
  head
    title Generating Tags with Attributes
  body
    h1 Tags with Attributes
    p.muted Some muted text
    a(href='foo.html', target='_blank') Foo
    a.fancy-link(href='bar.html', target='_blank') Bar

