doctype 5
html
  head
    title Generating DIVs with Jade
  body
    div This is a simple div
    .fancy-div A fancy div
    #header A header div
    #header.fancy-div A fancy header div
    #header.fancy-div.pow A powerful fancy header div
      
