extends 05-a-simple-jade-layout

block header
  h1 Our Jade Page Layout
block content
  .promotion
    h2 Buy our cool new product
    p lorem ipsum
  .posts
    .post
      h1 Title post Nr 1
      p foo bar
block footer
  p.muted &copy; 2013 - Thorsten Hans
