mixin footer
  .footer
    p.muted &copy 2013 - by Thorsten Hans
//- Mixin with block ( blocks can be assigned during usage)
mixin custom-footer
  .footer
    p.muted
      block custom-footer-content
