doctype html
head
    title markdown sample
body
    script
        :uglify-js
            document.addEventListener('DOMContentLoaded', function(){
                console.log('Hello from JavaScript');
            });
